@model Products
@{
    ViewData["Title"] = "Edit Products";
    var categoryList = ViewBag.CategoryList;
    ;
}
<h1>Ürün Kaydetme Paneli</h1>

@using (Html.BeginForm("SaveProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>Ürün Id: </td>
            <td>
                @Html.TextBoxFor(m => m.Id)
            </td>
        </tr>
        <tr>
            <td>Ürün Code: </td>
            <td>
                @Html.TextBoxFor(m => m.Code)
            </td>
        </tr>
        <tr>
            <td>Ürün Name: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>Ürün Area: </td>
            <td>
                @Html.TextBoxFor(m => m.Area)
            </td>
        </tr>
        <tr>
            <td>Ürün Class: </td>
            <td>
                @Html.TextBoxFor(m => m.Class)
            </td>
        </tr>
        <tr>
            <td>Ürün Type: </td>
            <td>
                @Html.TextBoxFor(m => m.Type)
            </td>
        </tr>
        <tr >
            <td>Ürün BottomBrand: </td>
        <td>
            @Html.TextBoxFor(m => m.BottomBrand)
        </td>
        </tr>
        <tr>
            <td>Ütün Image: </td>
            <td>
                @Html.TextBoxFor(m => m.Image)
            </td>
        </tr>
        <tr>
            <td>Kategori: </td>
            <td>
                @Html.DropDownListFor(model => model.CategoryId,
                new SelectList(categoryList, "Id", "CategoryName"), "Kategori seçiniz.")
            </td>
        </tr>
        <tr>
            <td>Resim: </td>
            <td>
                <input type="file" name="file" />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}