@model Products
@{
    ViewData["Title"] = "Edit Products";
    var categoryList = ViewBag.CategoryList;
    var productList = ViewBag.ProductList;
}
<h1>Ürün Kaydetme Paneli</h1>

@using (Html.BeginForm("SaveProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>Ürün Id: </td>
            <td>
                @Html.TextBoxFor(m => m.Id)
            </td>
        </tr>
        <tr>
            <td>Ürün Code: </td>
            <td>
                @Html.TextBoxFor(m => m.Code)
            </td>
        </tr>
        <tr>
            <td>Ürün Adı: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>Genel Kullanım Alanı: </td>
            <td>
                @Html.TextBoxFor(m => m.Area)
            </td>
        </tr>
        <tr>
            <td>Ürün Sınıfı: </td>
            <td>
                @Html.TextBoxFor(m => m.Class)
            </td>
        </tr>
        <tr>
            <td>Ürün Tipi: </td>
            <td>
                @Html.TextBoxFor(m => m.Type)
            </td>
        </tr>
        <tr>
            <td>Alt Marka: </td>
            <td>
                @Html.TextBoxFor(m => m.BottomBrand)
            </td>
        </tr>
        <tr>
            <td>Ürün Resmi: </td>
            <td>
                <input type="file" name="file" />
            </td>
        </tr>
        <tr>
            <td>Ürün Markası: </td>
            <td>
                @Html.DropDownListFor(model => model.CategoryName,
                new SelectList(categoryList, "Name", "Name"), "Kategori seçiniz.")
            </td>
        </tr>
        @*<tr>
                <td>Resim: </td>
                <td>
                    <input type="file" name="file" />
                </td>
            </tr>*@
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}

@*<h1>Eklenen Ürünler</h1>
<table>
    <tr>
        <th>Ürün Id:</th>
        <th>Ürün Adı:</th>
        <th>Ürün Fotoğraf:</th>
    </tr>
    @foreach (var item in productList)
    {
        var img = $"/Images/{item.Code}.jpg";

        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><img src=@img height="80" width="120" /></td>
        </tr>
    }
</table>*@