@model Products
@{
    ViewData["Title"] = "Edit Products";
    var categoryList = ViewBag.CategoryList;
    var productList = ViewBag.ProductList;
}
<h1>Ürün Kaydetme Paneli</h1>

@using (Html.BeginForm("SaveProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table table-striped">
        <tr>
            <td>Ürün Id: </td>
            <td>
                @Html.TextBoxFor(m => m.Id, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Ürün Code: </td>
            <td>
                @Html.TextBoxFor(m => m.Code, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Ürün Adı: </td>
            <td>
                @Html.TextBoxFor(m => m.Name, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Genel Kullanım Alanı: </td>
            <td>
                @Html.TextBoxFor(m => m.Area, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Ürün Sınıfı: </td>
            <td>
                @Html.TextBoxFor(m => m.Class, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Ürün Tipi: </td>
            <td>
                @Html.TextBoxFor(m => m.Type, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Alt Marka: </td>
            <td>
                @Html.TextBoxFor(m => m.BottomBrand, new { style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>Ürün Resmi: </td>
            <td>
                <input type="file" class="btn btn-secondary" name="file" />
            </td>
        </tr>
        <tr>
            <td>Ürün Markası: </td>
            <td>
                @Html.DropDownListFor(model => model.CategoryName,
                new SelectList(categoryList, "Name", "Name"), "Kategori seçiniz.", new { @class = "form-control"})
            </td>
        </tr>
        @*<tr>
                <td>Resim: </td>
                <td>
                    <input type="file" name="file" />
                </td>
            </tr>*@
        <tr>
            <td><input type="submit" class="btn btn-secondary" style="margin-right:auto" value="Submit"/></td>
        </tr>
    </table>
}